[Unit]
Description=LED Metar Map
After=network.target

[Service]
ExecStart=/home/pi/METARMap/.env/bin/python3 /home/pi/METARMap/metar.py

[Install]
WantedBy=multi-user.target
